.titulo {
    font-size: 32px;
    text-align: center;
    width: 100%;
    color: #f00;
    font-family: Helvetica;
}

@media only screen and (max-width: 762px) {
    .section__paragraph {
        width: 100%;
    }
    .section__img--about {
        order: 1;
    }
}